
/*tag selector*/
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    padding: 1rem;
    font-family: Montserrat;
}

p{
    color: hsl(228, 12%, 48%);
}

.card img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

button{
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

span{
    font-size: 2rem;
    font-weight: 700;
    font-family: Fraunces;
    color: hsl(158, 36%, 37%);
}

h1{
    font-family: Fraunces;
}

/*class selector*/
.card, .card-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
}

.card-container{
    padding: 1rem;
}

.category-name{
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: hsl(212, 21%, 14%);
}

.btn{
    display: flex;
    justify-content: center;
}

.price{
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 600px){

    main{
        width: 40%;
    }

    .card{
        flex-direction: row;
        gap: 0;
    }

    .card img{
        border-radius: 1rem 0 0 1rem;
    }

    .img-container{
        border-radius: 1rem 0 0 1rem;
        display: flex;
    }

    .card-container{
        border-radius: 0 1rem 1rem 0;
    }
}